name: Tests

on:
  push:

jobs:
  tests:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.14'
        check-latest: true

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install -r requirements.txt
        python setup.py build
        python setup.py install

    - name: Run Tests
      run: |
        # Pytest
        # pytest tests/ --cov=embkit --cov-report=term --cov-report=html

        # Unittest
        coverage run --source=embkit -m unittest discover -s tests
        coverage report
        coverage html

    - name: Upload Coverage Report
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: coverage-report
        path: htmlcov/
